@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.flip-inner {
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-front,
.flip-back {
  backface-visibility: hidden;
}

.flip-back {
  transform: rotateX(180deg);
}